<div id="pseudo-body">
	<%= render :partial => '/visuals/show' %>
	<div id="hidden-container">
		<div class="flex-container-left">
			<div class="sidebar">

				<div class="user">

					<div class="user-photo">
						<% if @spotify_user.images.length > 0 %>
							<img class="user-photo-img" src=<%= @spotify_user.images[0]['url'] %> />
						<% else %>
							<%= image_tag "no-user-img.jpg", :class => "user-photo-img" %>
						<% end %>
					</div>

					<div class="user-name">
						<h1><%= @spotify_user.id %></h1>
						<div id="drop-down-container">
							<button id="down-arrow">&#8964;</button>
							<div id="logout-drop-down" class="hidden">
								<%= button_to("LOG OUT", '/logout', method: "delete", class: "log-out-button")%>
							</div>
						</div>
					</div>


					<div class="playlists-header">P L A Y L I S T S</div>
				</div>

				<div class="user-playlists">
					<table>
						<% if @spotify_user.playlists.length > 0 %>
							<% @spotify_user.playlists.each_with_index do |playlist, index| %>
								<tr><td data-first-trck-img="<%=playlist.tracks.first.album.images[0]['url']%>" data-playlist-name="<%=playlist.name%>"  class="user-playlist" id="<%= index %>" 
									<div class="playlist-table-data">&#x266B; <%= playlist.name %></div>
								</td></tr>
							<% end %>
						<% else %>
							<tr><td>Log in to Spotify to add a playlist!</td></tr>
						<% end %>
					</table>
				</div>



				<div class="user-spotify-player">
					<% if @spotify_user.playlists.length > 0 %>
						<div class="audio-player">
							<div id="player-head">
								<img id="player-art" src="<%=@album_art_on_load%>" style="width: 25%"/>
							   <audio id="audio-player" crossorigin="anonymous" src="<%= @first_playlist.tracks.first.preview_url %>" type="audio/mp3" controls="controls"></audio>
								 <h2><%= @spotify_user.playlists.first.name %></h2>
							</div>
						  <ul id="playlist">
								<%= render :partial => '/player/player', locals: { index: "0", spotify_user: @spotify_user }  %>
						 </ul>
					 	</div>
					<% else %>
						<div class="audio-player">
							<div id="player-head">
								<h2>playlist name</h2>
								 <audio id="audio-player" crossorigin="anonymous" src="media/evidence-song.mp3" type="audio/mp3" controls="controls"></audio>
							</div>
							<ul id="playlist">
							<%= render :partial => '/player/player', locals: { index: "0", spotify_user: ""}  %>
						 </ul>
						</div>
					<% end %>
				</div>

			</div>
		</div>
	</div>

	<div id="button-container">
		<button type="button" id="side-button">&#60;</button>
	</div>

</div>
