
<div id="hidden-container">
	<div class="flex-container-left">
		<div class="sidebar">

				<div class="user">

					<div class="user-photo">
						<% if @spotify_user.images.length > 0 %>
							<img class="user-photo-img" src=<%= @spotify_user.images[0]['url'] %> />
						<% else %>
							<%= image_tag "no-user-img.jpg", :class => "user-photo-img" %>
						<% end %>
					</div>

					<div class="user-name">
						<h1><%= @spotify_user.id %></h1>
					</div>

					<div class="log-out-button">
						<%= button_to("Log Out", '/logout', method: "delete") %>
					</div>
				</div>



				<div class="user-playlists">
					<div class="playlists-header">Playlists</div>
					<table>
						<% if @spotify_user.playlists.length > 0 %>
							<% @spotify_user.playlists.each do |playlist| %>
								<tr><td class="user-playlist" id=<%= playlist.uri %> >
									<div class="playlist-table-data">&#x266B; <%= playlist.name %></div>
								</td></tr>
							<% end %>
						<% else %>
							<tr><td>Log in to Spotify to add a playlist!</td></tr>
						<% end %>
					</table>
				</div>

				<div class="user-spotify-player">
					<% if @spotify_user.playlists.length > 0 %>
						<iframe src=<%= 'https://embed.spotify.com/?uri=' + @spotify_user.playlists.first.uri %> width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
					<% else %>
						<iframe src="https://embed.spotify.com/?uri=spotify:user:cannondale12:playlist:5gDHi21qoyYA1M31o86XYl" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
					<% end %>
				</div>

			</div>
	</div>
</div>

<div id="visual-container">
	<button type="button" id="side-button">&#60;</button>
</div>
