<!DOCTYPE html>
<html>
  <head>
    <title>Beatnik</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Droid+Serif:400i' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper" class="flex-container">
      <%= yield %>
    </div>
  </body>
</html>
