<!DOCTYPE html>
<html>
  <head>
    <title>Beatnik</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Titillium+Web" %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Droid+Serif:400i" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
    <script type="text/javascript">
      // global audio js variables
      ctx = new AudioContext();
      audio = document.getElementById('audio-player');
      audioSrc = ctx.createMediaElementSource(audio);
      analyser = ctx.createAnalyser();
    </script>
  </body>
</html>
